{{ $isPersonal := promptBoolOnce . "isPersonal" "Is this a personal machine (yes/no)" }}
{{ $name := promptStringOnce . "name" "What is your git user name" "h-nakashima" }}
{{ $email := promptStringOnce . "email" "What is your git email address" "h-nakashima@users.noreply.github.com" }}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    isPersonal = {{ $isPersonal }}
    name = {{ $name | quote }}
    email = {{ $email | quote }}

[sourceVCS]
    autoCommit = false
    autoPush = false
