#!/usr/bin/env bash

# Make nano the default editor.
export EDITOR='nano';
export SVN_EDITOR='nano'

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# メモリに保存される履歴の件数。(保存数だけ履歴を検索できる)
export HISTSIZE=1000000
# HISTFILE で指定したファイルに保存される履歴の件数
export HISTFILESIZE=2000000
# 入力が最後のヒストリと一致する場合は記録しない
export HISTCONTROL=ignoredups
# 以下のコマンドは記録しない(?や* も使える)
#export HISTIGNORE=pwd:ls:la:ll:lla:exit:history*
export HISTIGNORE=pwd:ls:la:ll:lla:exit

# Prefer US English and use UTF-8.
export LANG='ja_JP.UTF-8';
export LC_ALL='ja_JP.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Android NDK
export ANDROIDNDK_HOME=/Developer/android-ndk-r8b
export ANDROIDSDK_HOME=/Developer/android-sdks
export PATH=$PATH:~/bin:$ANDROIDSDK_HOME/platform-tools:$ANDROIDNDK_HOME

# npm の設定
export NODE_PATH=$HOME/.npm/lib:$PATH
export PATH=$HOME/.npm/bin:$PATH
export MANPATH=$HOME/.npm/man:$MANPATH

# brew
export PATH=$PATH:/opt/homebrew/bin

# anyenv
eval "$(anyenv init -)"

# rbenv
eval "$(rbenv init -)"

# Go
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$PATH

export PATH=$PATH:$HOME/.nodebrew/current/bin

# yarn
export PATH="$HOME/.yarn/bin:$PATH"
export PATH="/usr/local/opt/imagemagick@6/bin:$PATH"

# pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# nodenv
export PATH="$HOME/.anyenv/envs/nodenv/bin:$PATH"
eval "$(nodenv init -)"
if [ -d ${HOME}/node_modules/.bin ]; then
    export PATH=${PATH}:${HOME}/node_modules/.bin
fi

